<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {% if title %}
        <title> {{ title }} - FoodTrucks</title>
    {% else %}
        <title>FoodTrucks</title>
    {% endif %}
</head>

<body>
    <header class="navbar">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">San Fran FoodTrucks</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <!-- Controls -->
            <div class="col-sm-4">
                <button onclick="findMyLocation()" type="button" class="btn btn-primary">Locate Me! (use only in SF)</button> <br>
                OR <br>
                <div class="input-group">
                    <input id="location_name" type="text" class="form-control" placeholder="Search for a place in San Francisco...">
                    <span class="input-group-btn"><button onclick="findPlace()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button> </span>
                </div>
                <hr>
                <h4>Filter your results:</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <p>within radius (m):</p>
                    </div>
                    <div class="col-sm-6">
                        <select id="radius" class="form-control">
                            <option selected="selected" value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p>no. of results restricted to:</p>
                    </div>
                    <div class="col-sm-6">
                        <select id="results_limit" class="form-control">
                            <option selected="selected" value="5">< 5</option>
                            <option value="10">< 10</option>
                            <option value="20">< 20</option>
                            <option>all</option>
                        </select>
                    </div>
                </div>
                <button onclick="filterResults()" type="button" class="btn btn-default btn-sm">Filter</button>
            </div>
            <!-- Map -->
            <div class="col-sm-8">
                <div id="map_div" style="height: 500px; width: 800px; "></div>
            </div>
        </div>
    </div>
</body>
<!-- Links for Google APIs -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyD1_IrUrRvjmu6pj486tPzjKG3Mx2N1dnM"></script>
<!-- Links for Twitter Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"> </script>

</html>
